version: '3.8'
services:
  db-main:
    image: postgres:16-alpine
    container_name: comunet-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-init:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data
    networks:
      - comunet-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: comunet-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@comunet.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      - db-main
    networks:
      - comunet-network

networks:
  comunet-network:
    driver: bridge

volumes:
  postgres_data: